/* athiti-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Athiti';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/athiti-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/athiti-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* athiti-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Athiti';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/athiti-v12-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/athiti-v12-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Athiti';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #070707;
}
.container {
    max-width: 944px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__wrapper {
    border: bottom;
    border-bottom: 1px solid #828282;
    padding-top: 33px;
}
.header__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 156px;
    padding: 0;
    padding-bottom: 31px;
}
.header__link {
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-decoration: none;
    font-weight: 600;
}
.header__link--about {
    width: 83px;
}
.header__list-item {
    list-style-type: none;
}
.header__link--active {
    color: #070707;
}
.hero__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.hero__description--name {
    width: 124px;
    line-height: 59px;
    font-size: 47px;
    margin-right: 298px;
    padding-top: 40px;
}
.hero__description--info {
    padding-top: 95px;
}
.hero__button {
    transform: rotate(-90deg);
    padding-top: 70px;

}
.hero__language {
    border: 0;
    background-color: white;
    size: 16px;
    line-height: 20px;
    color: #828282;
    font-weight: 400;
}
.hero__language--active {
    color: #070707;
}
.hero__img {
    padding-bottom: 105px;
}
.about {
    background-color:  #F6F6F6;
    display: grid;
    justify-content: center;
}
.about__title {
    padding-top: 120px;
    display: grid;
    justify-content: center;
    row-gap: 18px;
    font-size: 34px;
    line-height: 43px;
}
.about__list {
    padding-bottom: 107px;
}
.about__list-info {
    list-style-type: none;
}
.skills {
    display: grid;
    justify-content: center;
}
.skills__description--title {
    display: grid;
    justify-content: center;
    padding-top: 91px;
    padding-bottom: 96px;
    font-size: 34px;
}
.skills__description--text {
    display: grid;
    justify-content: center;
    padding-bottom: 83px;
}
.skills__list {
    display: grid;
    grid-template-columns: repeat(4,166px);
    justify-content: space-between;
    column-gap: 90px;
}
.skills-item {
    display: grid;
    justify-content: center;
    width: 167px;
}
.skills__star {
    display: flex;
    flex-direction: row;
    padding: 0;
}
.skills__srar-list {
    list-style-type: none;
}
.skills__list-items {
    list-style-type: none;
}
.skills-item-name {
    width: 70px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 24px;
}
.skills__star-list--img {
    margin-right: 9px;
}
.skills-item-name__AF {
    width: 85px;
}
.skills-item-name-Figma {
    padding-bottom: 63px;
    text-align: center;
}
.portfolio {
    background-color:  #F6F6F6;
}
.portfolio__title {
    display: grid;
    justify-content: center;
    padding-top: 112px;
    padding-bottom: 47px;
    font-size: 34px;
}
.portfolio__list{
    padding: 0;
    display: grid;
    row-gap: 166px;
}
.portfolio__items {
    list-style-type: none;
}
.portfolio__link {
    text-align: center;
}
.portfolio__link--text {
    padding-top: 45px;
    color: #070707
}
.portfolio__link--braun {
    padding-bottom: 96px;
}
.footer__contacts {
    display: grid;
    justify-content: center;
    text-align: center;
}
.contacts__title {
    padding-top: 124px;
    padding-bottom: 20px;
    font-size: 34px;
}
.contacts__button {
    margin-top: 40px;
    background: #070707;
    color: white;
    border: none;
    font-weight: 400;
    font-size: 18px;
    border-radius: 30px;
    padding: 13px 30px;
    align-items: center;
}
.media__list {
    display: flex;
    justify-content: center;
    margin-top: 86px;
}
.media__link {
    margin-right: 70px;
    list-style-type: none;
}
.media__link:last-child {
    margin-right: 0;
}
.media__follows {
    display: grid;
    justify-items: center;
    margin-top: 45px;
    margin-bottom: 123px;
    text-align: center;
}